ul.no-style {
  list-style: none;
}

.opacity-white {
  background: rgba(255, 255, 255, 0.1);
}

[data-fancybox] {
  cursor: pointer;
}

[data-fancybox]:active {
  cursor: grabbing;
}

.get-btn {
  cursor: pointer;
  background: #F2323D;
  padding: 20px 32px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  transition: background ease 0.5s;
}
.get-btn:hover {
  background: #C9000C;
}
.get-btn:active {
  opacity: 0.7;
}

.attention {
  position: fixed;
  left: 50%;
  background: #fff;
  border-radius: 5px;
  color: #141414;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transform: translate(-50%, -300%);
  transition: all ease 0.5s;
}
.attention.active {
  top: 40px;
  transform: translate(-50%, 0);
}
.attention__close {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
}
.attention__close:focus {
  border: 1px solid #000;
}
.attention__close:hover {
  color: #C65857;
}
.attention__close:active {
  opacity: 0.5;
}
.attention__container {
  padding: 0;
}
.attention__row {
  padding: 40px 50px 30px 50px;
  display: flex;
  flex-direction: column;
}
.attention__title {
  font-size: 26px;
  font-weight: 700;
}
.attention__title::first-letter {
  color: #C55756;
}
.attention__text {
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0 0 0;
}
.attention__text .username {
  font-weight: 500;
  display: inline-block;
}
.attention__text .username::first-letter {
  color: #C55756;
}
.attention__accept {
  margin: 10px 0 0 0;
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
}
@media (max-width: 865px) {
  .attention {
    width: 60%;
  }
}
@media (max-width: 510px) {
  .attention {
    width: 90% !important;
  }
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("opentype");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #F2F2F2;
  z-index: 100;
  will-change: transform;
  transition: transform ease 0.5s;
  transform: translate3d(300%, 0, 0);
}
.sidebar.hide {
  transform: translate3d(300%, 0, 0);
}
.sidebar.active {
  transform: translate3d(0, 0, 0);
  width: 40%;
}
@media (max-width: 630px) {
  .sidebar.active {
    width: 60%;
  }
}
.sidebar__close {
  color: #333333;
  right: 15px;
  top: 15px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
}
.sidebar__container {
  padding: 0;
  height: 100%;
}
.sidebar__row {
  height: 100%;
}
.sidebar .nav {
  height: 100%;
}
.sidebar .nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  padding: 20px 0 0 0;
}
.sidebar .nav__link {
  padding: 15px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}

.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: -50px;
  border: none;
  font-size: 0;
  width: 101px;
  height: 16px;
  cursor: pointer;
  transition: opacity ease 0.3s;
}
.slider .slick-arrow:hover {
  opacity: 0.8;
}
.slider .slick-disabled {
  opacity: 0.3 !important;
}
.slider .slick-prev {
  right: 151px;
  background: url("../images/arrow-next.svg") no-repeat;
  transform: scale(-1);
}
.slider .slick-next {
  right: 0;
  background: url("../images/arrow-next.svg") no-repeat;
}
.slider.reviews .slick-slide:not(:first-child), .slider.works .slick-slide:not(:first-child) {
  margin: 0 0 0 40px;
}
@media (max-width: 760px) {
  .slider .slick-arrow {
    top: unset;
    right: unset;
    bottom: -50px;
    left: 55%;
  }
  .slider .slick-prev {
    left: 35%;
  }
}
@media (max-width: 600px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 55%;
  }
  .slider .slick-prev {
    left: 30%;
  }
}
@media (max-width: 450px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 65%;
  }
  .slider .slick-prev {
    left: 20%;
  }
}
@media (max-width: 450px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 55%;
  }
  .slider .slick-prev {
    left: 20%;
  }
}
@media (max-width: 360px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 60%;
  }
  .slider .slick-prev {
    left: 15%;
  }
}

.slick-track {
  display: flex;
  cursor: grab;
}
.slick-track:active {
  cursor: grabbing;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("opentype");
}
ul.no-style {
  list-style: none;
}

.opacity-white {
  background: rgba(255, 255, 255, 0.1);
}

[data-fancybox] {
  cursor: pointer;
}

[data-fancybox]:active {
  cursor: grabbing;
}

.get-btn {
  cursor: pointer;
  background: #F2323D;
  padding: 20px 32px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  transition: background ease 0.5s;
}
.get-btn:hover {
  background: #C9000C;
}
.get-btn:active {
  opacity: 0.7;
}

.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: -50px;
  border: none;
  font-size: 0;
  width: 101px;
  height: 16px;
  cursor: pointer;
  transition: opacity ease 0.3s;
}
.slider .slick-arrow:hover {
  opacity: 0.8;
}
.slider .slick-disabled {
  opacity: 0.3 !important;
}
.slider .slick-prev {
  right: 151px;
  background: url("../images/arrow-next.svg") no-repeat;
  transform: scale(-1);
}
.slider .slick-next {
  right: 0;
  background: url("../images/arrow-next.svg") no-repeat;
}
.slider.reviews .slick-slide:not(:first-child), .slider.works .slick-slide:not(:first-child) {
  margin: 0 0 0 40px;
}
@media (max-width: 760px) {
  .slider .slick-arrow {
    top: unset;
    right: unset;
    bottom: -50px;
    left: 55%;
  }
  .slider .slick-prev {
    left: 35%;
  }
}
@media (max-width: 600px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 55%;
  }
  .slider .slick-prev {
    left: 30%;
  }
}
@media (max-width: 450px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 65%;
  }
  .slider .slick-prev {
    left: 20%;
  }
}
@media (max-width: 450px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 55%;
  }
  .slider .slick-prev {
    left: 20%;
  }
}
@media (max-width: 360px) {
  .slider .slick-arrow {
    bottom: -50px;
    left: 60%;
  }
  .slider .slick-prev {
    left: 15%;
  }
}

.slick-track {
  display: flex;
  cursor: grab;
}
.slick-track:active {
  cursor: grabbing;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #F2F2F2;
  z-index: 100;
  will-change: transform;
  transition: transform ease 0.5s;
  transform: translate3d(300%, 0, 0);
}
.sidebar.hide {
  transform: translate3d(300%, 0, 0);
}
.sidebar.active {
  transform: translate3d(0, 0, 0);
  width: 40%;
}
@media (max-width: 630px) {
  .sidebar.active {
    width: 60%;
  }
}
.sidebar__close {
  color: #333333;
  right: 15px;
  top: 15px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
}
.sidebar__container {
  padding: 0;
  height: 100%;
}
.sidebar__row {
  height: 100%;
}
.sidebar .nav {
  height: 100%;
}
.sidebar .nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  padding: 20px 0 0 0;
}
.sidebar .nav__link {
  padding: 15px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}

.attention {
  position: fixed;
  left: 50%;
  background: #fff;
  border-radius: 5px;
  color: #141414;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transform: translate(-50%, -300%);
  transition: all ease 0.5s;
}
.attention.active {
  top: 40px;
  transform: translate(-50%, 0);
}
.attention__close {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
}
.attention__close:focus {
  border: 1px solid #000;
}
.attention__close:hover {
  color: #C65857;
}
.attention__close:active {
  opacity: 0.5;
}
.attention__container {
  padding: 0;
}
.attention__row {
  padding: 40px 50px 30px 50px;
  display: flex;
  flex-direction: column;
}
.attention__title {
  font-size: 26px;
  font-weight: 700;
}
.attention__title::first-letter {
  color: #C55756;
}
.attention__text {
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0 0 0;
}
.attention__text .username {
  font-weight: 500;
  display: inline-block;
}
.attention__text .username::first-letter {
  color: #C55756;
}
.attention__accept {
  margin: 10px 0 0 0;
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
}
@media (max-width: 865px) {
  .attention {
    width: 60%;
  }
}
@media (max-width: 510px) {
  .attention {
    width: 90% !important;
  }
}

html, body {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: "Gilroy";
  font-weight: 400;
  background-image: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%, #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%, #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
  background-position: center;
  color: #F2F2F2;
  overflow-x: hidden;
  position: relative;
}

*::selection {
  background: #C55756;
}

.main {
  overflow: hidden;
}

.container {
  padding: 0 10px;
  max-width: 1185px;
  margin: 0 auto;
}

.header.sticky {
  position: sticky;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header__row {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  transition: opacity ease 0.2s;
}
.header .logo:hover {
  opacity: 0.7;
}
.header .nav__list {
  display: flex;
  list-style: none;
}
.header .nav__elem:not(:first-child) {
  margin: 0 0 0 50px;
}
.header .nav__elem {
  position: relative;
  display: flex;
}
.header .nav__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  padding: 0 0 4px;
}
.header .nav__link.active::before {
  width: 100%;
}
.header .nav__link:hover::before {
  width: 100%;
}
.header .nav__link::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 0%;
  height: 1px;
  border-radius: 4px;
  background: #F2F2F2;
  transition: width ease 0.3s;
}
.header .tel {
  display: flex;
  flex-direction: column;
  transition: opacity ease 0.2s;
}
.header .tel:hover {
  opacity: 0.7;
}
.header .tel__number {
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: right;
  position: relative;
}
.header .tel__number::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/tel.svg") no-repeat center;
  position: absolute;
  left: -8px;
  bottom: 0;
}
.header .tel__text {
  font-size: 13px;
  font-weight: 500;
  line-height: 20.8px;
}
.header .burger {
  display: none;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.header .burger__line:not(:first-child) {
  margin: 5px 0 0 0;
}
.header .burger__line {
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
}
@media (max-width: 1050px) {
  .header__logo {
    display: none;
  }
  .header__row {
    padding: 50px 0;
  }
}
@media (max-width: 900px) {
  .header__logo {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header .tel {
    display: none;
  }
  .header .burger {
    display: flex;
  }
}

.welcome__row {
  padding: 28px 0 0 0;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.welcome__image-block {
  margin: 0 0 0 36px;
  position: relative;
  width: 100%;
  height: 600px;
  grid-row: span 2;
}
.welcome__image-block img {
  position: absolute;
  left: -115px;
  top: 0;
}
@media (max-width: 1410px) {
  .welcome__image-block {
    margin: 0 0 0 0;
  }
  .welcome__image-block img {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
@media (max-width: 1110px) {
  .welcome__image-block img {
    transform: translate3d(-65%, -50%, 0);
  }
}
@media (max-width: 900px) {
  .welcome__image-block {
    height: 300px;
  }
}
.welcome .text__description {
  font-size: 36px;
  font-weight: 400;
  line-height: 46.8px;
}
.welcome .text__sub-description {
  margin: 20px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.welcome .text__get-btn-block {
  margin: 50px 0 0 0;
}
.welcome .advantages {
  display: flex;
  cursor: default;
}
.welcome .advantages .item {
  border-left: 1px solid rgba(233, 233, 233, 0.54);
  padding: 0 40px;
}
.welcome .advantages .item__about {
  margin: 16px 0 0 0;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .welcome__row {
    grid-template-columns: unset;
    grid-auto-flow: row;
  }
  .welcome__text {
    text-align: center;
  }
  .welcome__image-block img {
    transform: translate3d(-50%, -50%, 0);
  }
  .welcome .advantages {
    margin: 0 auto;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 32px;
    border-radius: 12px;
  }
  .welcome .advantages .item:not(:first-child) {
    margin: 30px 0 0 0;
  }
}

.specialization {
  margin: 96.5px 0 0 0;
}
.specialization__row {
  padding: 56.5px 0;
}
.specialization__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
}
.specialization__line {
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px 90px;
}
.specialization__line .item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  cursor: default;
}
.specialization__line .item__image img {
  border-radius: 6px;
}
.specialization__line .item__content {
  padding: 20px 0 0 30px;
}
.specialization__line .item__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}
.specialization__line .item__image {
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 240px;
  border-radius: 6px;
}
.specialization__line .item__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease 0.5s;
  left: 0;
  top: 0;
}
.specialization__line .item__image:hover img {
  transform: scale(1.02);
}
.specialization__line .item__list {
  margin: 20px 0 0 0;
  padding: 0 0 0 17px;
}
.specialization__line .item__list.no-style {
  padding: 0;
}
.specialization__line .item__list .point:not(:first-child) {
  margin: 12px 0 0 0;
}
.specialization__line .item__list .point__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}
@media (max-width: 1120px) {
  .specialization__line {
    grid-gap: 60px 20px;
  }
}
@media (max-width: 960px) {
  .specialization__line {
    grid-template-columns: unset;
  }
  .specialization__title {
    text-align: center;
  }
  .specialization .item {
    grid-template-columns: unset;
    grid-auto-flow: row;
    align-items: center;
    text-align: center;
  }
  .specialization .item__image {
    margin: 0 auto;
  }
  .specialization .item__list {
    list-style: none;
  }
}

.stages__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
}
@media (max-width: 1290px) {
  .stages__title {
    text-align: center;
  }
}
.stages__row {
  padding: 80px 0;
}
.stages__line {
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  list-style: none;
}
@media (max-width: 1290px) {
  .stages__line {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1120px) {
  .stages__line {
    grid-gap: 20px;
  }
}
@media (max-width: 750px) {
  .stages__line {
    grid-template-columns: unset;
    grid-auto-flow: row;
  }
}
.stages__line .item {
  padding: 30px 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  position: relative;
  cursor: default;
  transition: all ease 0.4s;
  display: flex;
  align-items: center;
}
.stages__line .item:hover {
  background: #F2323D;
  border-color: #F2323D;
}
.stages__line .item__number {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
}
.stages__line .item__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 29.7px;
  white-space: nowrap;
}

.reviews__row {
  padding: 50px 0;
}
.reviews__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 31px;
}
@media (max-width: 760px) {
  .reviews__title {
    text-align: center;
  }
}
.reviews .slider {
  margin: 25px 0 0 0;
}
.reviews .slider__item img {
  border-radius: 6px;
}

.works__row {
  padding: 80px 0 0 0;
}
.works__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 31px;
}
@media (max-width: 760px) {
  .works__title {
    text-align: center;
  }
}
.works .slider {
  margin: 25px 0 0 0;
}
.works .slider .slick-slide img {
  border-radius: 6px;
}

.order {
  margin: 80px 0 0 0;
}
.order__row {
  padding: 80px 0;
}
.order .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgba(254, 249, 249, 0.2);
  border-radius: 6px;
}
.order .form__image {
  position: relative;
  height: 100%;
}
.order .form__image .builder {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}
.order .form__image .zipper-block {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: 129px;
  height: 167px;
  display: none;
}
.order .form__image .zipper-block svg {
  position: absolute;
}
@media screen {
  .order .form__image .zipper-block.tablet {
    display: block;
  }
}
@media (min-width: 1180px) {
  .order .form__image .zipper-block.desktop {
    display: block;
  }
  .order .form__image .zipper-block.tablet {
    display: none;
  }
}
.order .form__image .zipper-block-1 {
  top: 30px;
  left: 30px;
}
.order .form__image .zipper-block-1.tablet {
  top: 65px;
  left: 52px;
}
@media (max-width: 1060px) {
  .order .form__image .zipper-block-1.tablet {
    left: 15px;
  }
}
.order .form__image .zipper-block-2 {
  bottom: 0px;
  right: 0;
}
.order .form__image .zipper-block-2 svg {
  bottom: -70px;
}
.order .form__image .zipper-block-2.tablet {
  right: -24px;
}
.order .form__image .zipper-block-2.tablet svg {
  bottom: -50px;
}
@media (max-width: 1060px) {
  .order .form__image .zipper-block-2.tablet {
    right: -54px;
  }
}
.order .fields {
  padding: 60px 40px 80px 0;
}
.order .fields__description {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}
.order .fields__description strong {
  font-weight: 700;
}
.order .fields__line {
  margin: 40px 0 0 0;
  display: flex;
}
.order .fields__input {
  margin: 0 20px 0 0;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.order .fields__input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.8);
}
.order .fields__input::placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.order .fields .get-btn {
  border: none;
  padding: 20px 60px;
}
@media (max-width: 1180px) {
  .order .fields {
    padding: 20px 10px 20px 0;
  }
}
@media (max-width: 1000px) {
  .order .form {
    grid-template-columns: unset;
    grid-auto-flow: row;
    position: relative;
    margin: 225px 0 0 0;
  }
  .order .form__image {
    position: absolute;
    transform: translate(0%, -100%);
    justify-self: center;
    width: 225px;
    height: 300px;
  }
  .order .form .fields {
    padding: 30px;
  }
  .order .form .fields__line {
    flex-direction: column;
  }
  .order .form .fields__input {
    margin: 0 0 20px 0;
  }
  .order .form .zipper-block-1.tablet {
    top: 55px;
    left: -25px;
  }
  .order .form .zipper-block-2.tablet {
    bottom: -100px;
    right: -110px;
  }
  .order .form .zipper-block-2.tablet svg {
    bottom: none;
    top: 0;
  }
  .order .form .zipper-block-2.tablet svg path {
    fill: #fff;
  }
}

.certificates__row {
  padding: 80px 0;
}
.certificates__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 31px;
}
@media (max-width: 760px) {
  .certificates__title {
    text-align: center;
  }
}
.certificates .slider {
  margin: 25px 0 0 0;
}
.certificates .slider .slick-slide {
  padding: 0 20px;
}
.certificates .slider .slick-track {
  margin: 0 -20px;
}
.certificates .slider .slick-slide img {
  border-radius: 6px;
}

.answers__row {
  padding: 80px 0 100px 0;
}
.answers .answers__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
}
.answers .line {
  display: flex;
  margin: 40px 0 0 0;
}
.answers .line__section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.answers .line__section:not(:first-child) {
  margin: 0 0 0 40px;
}
.answers .line .item {
  padding: 30px 80px 20px 30px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}
.answers .line .item:not(:first-child) {
  margin: 20px 0 0 0;
}
.answers .line .item::before, .answers .line .item::after {
  content: "";
  position: absolute;
  right: 36px;
  top: 36px;
  width: 10px;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  display: block;
  transition: transform ease 0.5s;
}
.answers .line .item::before {
  right: 36px;
  transform: rotate(-40deg);
}
.answers .line .item::after {
  right: 43px;
  transform: rotate(40deg);
}
.answers .line .item.active .item__text {
  max-height: 1000px;
  overflow: visible;
}
.answers .line .item.active::before {
  right: 36px;
  transform: rotate(40deg);
}
.answers .line .item.active::after {
  right: 43px;
  transform: rotate(-40deg);
}
.answers .line .item.active .item__text {
  opacity: 1;
  visibility: visible;
}
.answers .line .item__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
}
.answers .line .item__text {
  max-height: 0px;
  overflow: hidden;
  margin: 18px 0 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 30.6px;
  transition: all ease-in-out 0.4s;
}
@media (max-width: 750px) {
  .answers .line {
    flex-direction: column;
  }
  .answers .line__section:not(:first-child) {
    margin: 20px 0 0 0;
  }
}

.footer {
  position: relative;
}
.footer iframe {
  z-index: 10;
  position: relative;
  cursor: pointer;
}
.footer iframe:active {
  cursor: grabbing;
}
.footer .invite {
  z-index: 11;
  position: relative;
}
.footer__row {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  max-width: 1185px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  pointer-events: none;
}
.footer .invite {
  display: flex;
  color: #333333;
  pointer-events: auto;
}
.footer .invite__row {
  background: #fff;
  border-radius: 6px;
  padding: 60px;
}
.footer .invite__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
  color: #333333;
}
.footer .invite .stats {
  margin: 25px 0 0 0;
}
.footer .invite .stats__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #4F4F4F;
}
.footer .invite .address {
  margin: 25px 0 0 0;
}
.footer .invite .address address {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 25.6px;
}
.footer .invite__links {
  margin: 32px 0 0 0;
}
.footer .invite__links .link {
  text-decoration: none;
}
.footer .invite__links .link svg path {
  transition: fill ease 0.3s;
}
.footer .invite__links .link:hover svg path {
  fill: #C9000C;
}
.footer .invite__links .link:not(:first-child) {
  margin: 0 0 0 30px;
}
@media (max-width: 660px) {
  .footer__row {
    padding: 0;
  }
  .footer .invite {
    position: absolute;
    bottom: 0;
    transform: translate(0, 99%);
    width: 100%;
  }
  .footer .invite__row {
    text-align: center;
    width: 100%;
  }
}