head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DHL
    
    //- Fancybox
    link(rel="stylesheet" href="./css/fancybox.min.css")
    script(defer src="./js/fancybox.min.js")

    //- Choices
    link(rel="stylesheet" href="./css/choices.min.css")
    script(defer src="./js/choices.min.js")

    //- Font Awesome
    link(rel="stylesheet" href="./css/icons.min.css")

    //- My scripts
    script(defer src='./js/main.js')

    //- My styles
    link(rel="stylesheet" href="./css/style.min.css")
    link(rel="shortcut icon" href="./images/logo.png")