.slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: -50px;
    border: none;
    font-size: 0;
    width: 101px;
    height: 16px;
    cursor: pointer;
    transition: opacity ease .3s;

    &:hover {
      opacity: .8;
    }
  }

  .slick-disabled {
    opacity: .3 !important;
  }

  .slick-prev {
    right: 151px;
    background: url('../images/arrow-next.svg') no-repeat;
    transform: scale(-1);
  }

  .slick-next {
    right: 0;
    background: url('../images/arrow-next.svg') no-repeat;
  }

  &.reviews .slick-slide:not(:first-child),
  &.works .slick-slide:not(:first-child) {
    margin: 0 0 0 40px;
  }

  @media (max-width: 760px) {
    .slick-arrow {
      top: unset;
      right: unset;
      bottom: -50px;
      left: 55%;
    }
    
    .slick-prev {
      left: 35%;
    }
  }

  @media (max-width: 600px) {
    .slick-arrow {
      bottom: -50px;
      left: 55%;
    }
    
    .slick-prev {
      left: 30%;
    }
  }

  @media (max-width: 450px) {
    .slick-arrow {
      bottom: -50px;
      left: 65%;
    }
    
    .slick-prev {
      left: 20%;
    }
  }

  @media (max-width: 450px) {
    .slick-arrow {
      bottom: -50px;
      left: 55%;
    }
    
    .slick-prev {
      left: 20%;
    }
  }

  @media (max-width: 360px) {
    .slick-arrow {
      bottom: -50px;
      left: 60%;
    }
    
    .slick-prev {
      left: 15%;
    }
  }
}

.slick-track {
  display: flex;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}