.advantages__item.item
  img.item__image(src="./images/time.svg" alt="")
  h5.item__title График 10:00 am - 7:00 pm
  p.item__text Рабочее время
|
|
.advantages__item.item
  img.item__image(src="./images/arrow.svg" alt="")
  h5.item__title Улица Гагарина д. 17
  p.item__text Наш адрес
|
|
.advantages__item.item
  img.item__image(src="./images/phone.svg" alt="")
  h5.item__title +38 (063) 833 24 15
  p.item__text Наш номер