head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    title Healthy Switcher

    //- Jquery
    script(defer src="./js/jquery-3.6.3.min.js")

    //- Slick slider
    script(defer src="./js/slick.min.js")

    //- Simplebar.js
    link(rel="stylesheet" href="./css/simplebar.css")
    script(defer src="./js/simplebar.min.js")

    //- Animate.css
    link(rel="stylesheet" href="./css/animate.min.css")

    //- Wow.js
    script(defer src="./js/wow.min.js")

    //- Smoothscroll
    script(defer src="./js/SmoothScroll.min.js")

    //- Other
    link(rel="stylesheet" href="./css/style.css")
    link(rel="shortcut icon" href="./images/logo.svg")
    script(defer src="./js/main.js")