<header class="header hide">
  <div class="header__container">
    <div class="header__row">

      <div class="header__logo">
        <a href="./index.html">
          <picture>
            <source srcset="../images/logo.svg" media="(min-width: 420px)">
            <source srcset="../images/mobile-logo.svg" media="">
            <img src="../images/mobile-logo.svg" alt="">
          </picture>
        </a href="./index.html">
      </div>

      <div class="header__options">

        <nav class="header__nav nav">
          <ul class="nav-list">
            <li class="nav-list__elem active">
              <a href="./index.html" class="nav-list__link">Главная</a>
            </li>
            <li class="nav-list__elem">
              <a href="#" class="nav-list__link">Меню</a>
            </li>
            <li class="nav-list__elem">
              <a href="#" class="nav-list__link">О нас</a>
            </li>
            <li class="nav-list__elem">
              <a href="#" class="nav-list__link">Бронь</a>
            </li>
            <li class="nav-list__elem nav-list__basket">
              <a href="#" class="nav-list__link">
                <img src="../images/basket.svg" alt="basket">
              </a>
            </li>
          </ul>
        </nav>

        <div class="header__activities activities">
          <a href="tel:+999-888-76-54" class="activities__text">
            <h3 class="activities__title">+999-888-76-54</h3>
            <p class="activities__about">
              Свяжитесь с нами для <br> бронирования
            </p>
          </a>

          <a href="#" class="activities__btn">
            Заказ столика
          </a>
        </div>

      </div>

      <div class="header__burger">
        <div class="burger">
          <i class="burger__line"></i>
          <i class="burger__line"></i>
          <i class="burger__line"></i>
        </div>
      </div>
      
    </div>
  </div>
</header>