/* Обнуление */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/LiberationSerif-Bold.woff2') format('woff2'),
        url('../fonts/LiberationSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/LiberationSerif.woff2') format('woff2'),
        url('../fonts/LiberationSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	min-width: 300px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.attention {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #191919;
	height: 50px;
}

.attention p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
}

/* Описание приветственного блока */
header {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	padding: 40px 60px;
	grid-column: 1/3;
	position: relative;
}

header::before {
	content: "";
	position: absolute;
	display: block;
	background-image: url("../img/logo.svg");
	width: 85px;
	height: 40px;
	left: 50%;
	margin-left: -42.5px;
	top: 25px;
	border-radius: 3px;
	z-index: 1;
}

header a {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 400;
	white-space: nowrap;
	transition-duration: .2s;
	text-decoration: none;
}

header a:hover {
	opacity: .7;
}

header div:nth-child(2) {
	justify-self: end;
}

header div {
	z-index: 1;
	white-space: nowrap;
}

header div:nth-child(2) a {
	margin: 0 0 0 60px;
}

header div:nth-child(1) a {
	margin: 0 60px 0 0;
}

.welcome-block {
	background: url("../img/welcome_bg.jpg"), #996B60;
	background-size: 50% 100%;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	position: relative;
	height: 100%;
}

.welcome-block .content-block {
	grid-column: 2;
	color: #fff;
	margin: 60px 60px 20px 60px;
	z-index: 1;
}

.welcome-block .content-block h2 {
	font-size: 63px;
	font-family: "Liberation Serif", "Georgia";
	font-weight: 400;
}

.welcome-block .content-block p {
	margin-top: 35px;
	font-size: 18px;
	font-weight: 300;
}

.welcome-block .content-block .link-block {
	margin-top: 60px;
}

.welcome-block .content-block .link-block a {
	width: 180px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	border: 1px solid #fff;
	text-decoration: none;
	transition-duration: .2s;
}

.welcome-block .content-block .link-block a:hover {
	opacity: .7;
}

.dark-bg {
	display: none;
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}

/* Описание блока с отзывами */
.reviews {
	padding: 60px;
}

.reviews .container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	grid-column-gap: 150px;
	border-bottom: 1px solid #BDBDBD;
	padding: 0 0 40px 0;
}

.review p {
	text-align: center;
	line-height: 32px;
	font-size: 18px;
	font-weight: 400;
}

.review .img-block {
	display: flex;
	justify-content: center;
	margin-top: 36px;
}

/* Описание блока с натуральными ингредиентами */
.all-natural h2 {
	font-family: "Liberation Serif", "Georgia";
	font-size: 38px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
}

.all-natural .title-natural div {
	text-align: center;
	margin-top: 25px;
	text-transform: uppercase;
}

.all-natural .container {
	margin-top: 80px;
	padding: 0 60px;
}

.all-natural .content {
	padding-bottom: 140px;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-column-gap: 65px;
	justify-content: center;
	border-bottom: 1px solid #BDBDBD;
}

.all-natural .container .block {
	display: grid;
}

.all-natural .container .img-block {
	position: relative;
	width: 300px;
	height: 350px;
	justify-self: center;
}

.all-natural .container .img-block img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.all-natural .container .text-content {
	margin-top: 20px;
}

.all-natural .container .text-content .as-title {
	font-family: "Liberation Serif", "Georgia";
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}

.all-natural .container .text-content p {
	margin-top: 16px;
	text-align: center;
	line-height: 24px;
}

.all-natural .container .text-content .link-shop {
	margin-top: 27px;
	display: flex;
	justify-content: center;
}

.all-natural .container .text-content a {
	color: #fff;
	background: #191919;
	text-decoration: none;
	padding: 18px 48px;
	transition-duration: .2s;
}

.all-natural .container .text-content a:hover {
	opacity: .9;
	text-decoration: underline;
}

/* Описание четвёртого блока */
.image-text-info-block {
	padding: 60px;
}

.image-text-info-block .content {
	padding-bottom: 95px;
	border-bottom: 1px solid #BDBDBD;
}


.image-block-big {
	position: relative;
	height: 560px;
}

.image-block-big img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.image-text-info-block .content .text-content {
	margin-top: 55px;
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.image-text-info-block .content .text-content h2 {
	font-weight: 400;
	font-size: 40px;
	font-family: "Liberation Serif", "Georgia";
}

.image-text-info-block .content .text-content p {
	font-size: 18px;
	line-height: 32px;
}

/* Описание блока с качествами */
.our-qualities {
	padding: 60px;
}

.our-qualities .content {
	display: grid;
	grid-template-columns: 30% auto;
	grid-column-gap: 60px;
}

.our-qualities .content .content__text {
	display: grid;
	grid-row-gap: 25px;
}

.our-qualities .content .block {
	display: grid;
	grid-row-gap: 25px;
	align-content: center;
}

.our-qualities .content .block .as-title {
	font-size: 30px;
	line-height: 44px;
	font-family: "Liberation Serif", "Georgia";
}

.our-qualities .content .block .text {
	font-size: 16px;
}

.our-qualities .content .block:nth-child(2) .as-title {
	font-size: 36px;
}

.our-qualities .content .img-block {
	position: relative;
}

.our-qualities .content .img-block img {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Описание блока с отзывами людей */
.black-reviews {
	background: #000000;
	color: #fff;
}

.black-reviews .content {
	padding: 0 60px;
	padding: 95px 70px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-column-gap: 185px;
}

.black-reviews .content .block-review {
	display: grid;
	align-content: center;
	text-align: center;
}

.block-review .review__text {
	font-size: 16px;
}

.block-review .review__author {
	margin-top: 17px;
	text-transform: uppercase;
	font-weight: 400;
}

.block-review .review__category {
	margin-top: 10px;
	color: #8A8A8A;
	white-space: nowrap;
}

.block-review .review__category::first-letter {
	text-transform: uppercase;
}

/* Описание блока с отличиями */
.our-diff {
	padding: 60px;
}

.our-diff .content {
	display: grid;
	grid-template-columns: 50% auto;
	grid-column-gap: 50px;
}

.our-diff .content .text-block {
	display: grid;
	grid-row-gap: 35px;
}

.our-diff .content .text-block .title-block h2 {
	font-family: "Liberation Serif", "Georgia";
	font-size: 64px;
	font-weight: 400;
}

.our-diff .content .text-block .only-text-block p {
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}

.our-diff .content .text-block .only-text-block {
	align-self: end;
}

.our-diff .content .text-block .only-text-block a {
	margin-top: 35px;
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	color: #000;
	transition-duration: .2s;
	text-transform: uppercase;
}

.our-diff .content .text-block .only-text-block a:hover {
	opacity: .9;
	text-decoration: underline;
}

.our-diff .content .img-block {
	position: relative;
}

.our-diff .content .img-block img {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Описание последнего блока (Доделать) */
.mood-block {
	background: url("../img/mood_bg.png") 100%/cover no-repeat;
	padding: 60px;
	display: grid;
	grid-template-columns: 50% auto;
}

.mood-block .content {
	display: grid;
	grid-row-gap: 20px;
}

.mood-block .content > div {
	background-color: #000;
	color: #fff;
	padding: 30px;
}

.mood-block .content .top {
	display: grid;
	align-content: center;
	text-align: center;
}

.mood-block .content .top h2 {
	font-family: "Liberation Serif", "Georgia";
	font-weight: 400;
	font-size: 55px;
	line-height: 80px;
}

.mood-block .content .top p {
	margin-top: 9px;
}

.mood-block .content .top a {
	background-color: #fff;
	padding: 20px 60px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 27px;
	transition-duration: .2s;
}

.mood-block .content .top a:hover {
	opacity: .9;
	text-decoration: underline;
}

.mood-block .content .bottom {
	display: grid;
	justify-items: center;
	grid-row-gap: 17px;
	align-content: center;
}

.mood-block .content .bottom .text p {
	font-size: 16px;
}

.mood-block .content .bottom .links {
	display: flex;
	margin-top: 11px;
}

.mood-block .content .bottom .links a {
	margin: 0 21px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	transition-duration: .2s;
}

.mood-block .content .bottom .links a:hover {
	text-decoration: underline;
	opacity: .9;
}

/* Описание подвала */
footer {
	background: #000000;
	color: #fff;
	padding: 45px 60px;
	display: grid;
}

footer .main-footer {
	display: grid;
	grid-template-columns: 35% auto;
	grid-column-gap: 7%;
}

footer .main-footer .left h2 {
	font-family: "Liberation Serif", "Georgia";
	font-weight: 400;
	font-size: 42px;
	line-height: 72px;
}

footer .main-footer .left p {
	margin-top: 12px;
	line-height: 27px;
	font-size: 18px;
	font-weight: 400;
}

footer .main-footer .left .input-block {
	margin-top: 32px;
	position: relative;
}

footer .main-footer .left .input-block input {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	border: none;
	border-bottom: 1px solid #8A8A8A;
	outline: none;
	transition-duration: .2s;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	padding: 35px 10px;
	font-size: 12px;
	text-transform: uppercase;
}

footer .main-footer .left .input-block input::placeholder {
	margin-bottom: 21px;
}

footer .main-footer .left .input-block input:focus {
	border-bottom-color: #fff;
}

footer .main-footer .right {
	display: flex;
	justify-content: end;
}

footer .main-footer .right .nav-block {
	margin-right: 130px;
}

footer .main-footer .right .nav-block .links {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

footer .main-footer .right .nav-block .links a {
	display: inline !important;
	color: #fff;
	opacity: .6;
	text-decoration: none;
	margin-bottom: 21px;
	transition-duration: .2s;
	white-space: nowrap;
}

footer .main-footer .right .nav-block .links a:hover {
	opacity: 1;
	text-decoration: underline;
}

footer .main-footer .right .nav-block a:first-child {
	margin-top: 10px;
}

footer .main-footer .right .nav-block .as-title {
	text-transform: uppercase;
}

.sub-footer {
	margin-top: 140px;
	display: flex;
}

.sub-footer .copyright {
	margin-right: 60px;
}

.sub-footer > * {
	white-space: nowrap;
}

.sub-footer .block-links a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	margin-right: 60px;
	opacity: .6;
	transition-duration: .2s;
}

.sub-footer .block-links a:hover {
	opacity: 1;
	text-decoration: underline;
}

#submit-email {
	position: absolute;
	right: 0;
	top: 9px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
}

#submit-email:hover {
	text-decoration: underline;
}

@media (max-width: 1340px) {
	footer .main-footer .right .nav-block {
		margin-right: 10px;
	}

	footer .main-footer .right {
		justify-content: center;
	}
}

@media (max-width: 1234px) {
	.reviews .container {
		grid-column-gap: 50px;
	}

	.our-diff .content {
		grid-template-columns: unset;
		grid-row-gap: 50px;
		grid-auto-rows: minmax(200px, 350px) auto;
	}

	.our-diff .content .img-block {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1050px) {
	.reviews .container {
		grid-template-columns: unset;
		grid-row-gap: 60px;
	}

	.review .img-block {
		margin-top: 15px;
	}

	.all-natural .content {
		grid-template-columns: unset;
		grid-row-gap: 60px;
	}
}

@media (max-width: 940px) {
	footer .main-footer {
		grid-template-columns: unset;
		grid-row-gap: 10rem;
	}

	.sub-footer {
		display: grid;
		justify-content: center;
		grid-row-gap: 3rem;
	}

	.sub-footer p {
		text-align: center;
	}

	.sub-footer .block-links {
		display: grid;
		grid-row-gap: 1.5rem;
		text-align: center;
	}
}

@media (max-width: 920px) {
	.black-reviews .content {
		grid-column-gap: 50px;
	}
}


@media (max-width: 830px) {
	.our-qualities .content {
		grid-template-columns: unset;
		grid-row-gap: 50px;
		grid-auto-rows: auto 380px;
	}

	.mood-block {
		grid-template-columns: unset;
	}
}

@media (max-width: 930px) {
	.dark-bg {
		display: block;
	}

	.welcome-block .content-block {
		grid-column: 1/3;
		width: 60%;
		justify-self: center;
	}

	.welcome-block .content-block .link-block {
		display: flex;
		justify-content: center;
	}

	header div a {
		margin: 0 0 7px 60px !important;
	}

	header div:nth-child(1) a {
		margin: 0 0 7px 0 !important;
	}

	header div {
		display: flex;
    	flex-direction: column;
	}

	.welcome-block .content-block .link-block a {
		color: #fff;
	}
}

@media (max-width: 520px) {
	.image-text-info-block .content .text-content {
		grid-template-columns: unset;
		grid-row-gap: 30px;
	}

	.black-reviews .content {
		grid-template-columns: unset;
		grid-row-gap: 50px;
		height: unset;
	}

	footer .main-footer .right {
		flex-direction: column;
		text-align: center;
	}

	footer .main-footer .right .nav-block {
		margin: 0 0 50px 0;
	}

	.sub-footer .copyright {
		margin: 0;
	}

	.sub-footer .block-links a {
		margin: 0;
	}
}

@media (max-width: 500px) {
	header {
		padding: 100px 60px;
	}

	.welcome-block {
		background-size: 100% 100%;
	}

	.content-block {
		margin: 0 60px 30px 60px !important;
	}

	.dark-bg {
		width: 100%;
	}

	.mood-block {
		padding: 10px;
	}

	.mood-block .content .top a {
		padding: 10px 20px;
	}

	.mood-block .content .bottom .links a {
		margin: 0 10px;
	}

	.mood-block .content > div {
		padding: 30px 10px;
	}

	.our-diff .content .text-block .title-block h2 {
		font-size: 44px;
	}
}