@import "vars";

ul.no-style { list-style: none; }
.opacity-white { background: rgba(#fff, .1); }
[data-fancybox] { cursor: pointer; }
[data-fancybox]:active { cursor: grabbing; }



// Красная кнопка
.get-btn {
  cursor: pointer;
  background: $color-btn-default;
  padding: 20px 32px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  transition: background ease .5s;

  &:hover {
    background: $color-btn-active;
  }

  &:active {
    opacity: .7;
  }
}