@font-face {
  font-family: "Open Sans";
  // font-weight: 400;
  src: url("../fonts/open-sans.otf") format("opentype");
  src: url("../fonts/open-sans.ttf") format("truetype");
  src: url("../fonts/open-sans.woff") format("woff");
  src: url("../fonts/open-sans.woff2") format("woff2");
}
