head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Ресторан

  link(rel="shortcut icon" href="./images/icon.ico")

  //- Simplebar
  link(rel="stylesheet" href="./css/simplebar.min.css")
  script(defer src="./js/simplebar.min.js")

  //- Swiper
  link(rel="stylesheet" href="./css/swiper-bundle.min.css")
  script(defer src="./js/swiper-bundle.min.js")

  //- Simpleparallax
  //- <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>

  //- Inputmask.js
  script(defer src="./js/inputmask.min.js")

  //- Choices.js
  link(rel="stylesheet" href="./css/choices.min.css")
  script(defer src="./js/choices.min.js")

  //- Other
  link(rel="stylesheet" href="./css/style.css")
  script(defer src="./js/addresses.js") 
  script(defer src="./js/main.js")