section.menu
  h1.hidden-title.menu__title Меню

  .menu__container.container
    .menu__row
      .menu__slider.swiper
        ul.menu__list.menu-list.swiper-wrapper
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#cold") Холодные закуски
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#hot") Горячие закуски
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#meat") Мясные блюда
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#") Супы
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#") Рыбные блюда
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#") Гриль меню
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#") Фирменные блюда
          li.menu-list__item.swiper-slide
            a.menu-list__link.anchor(href="#") Напитки