include includes/header

doctype html
html(lang="ru")
  include includes/head

  body
    #top
    .wrapper
      //- Шапка сайта
      +header

      //- Основное содержимое
      main.main
        include includes/menu

        //- Блок с карточками акций
        section.actions
          .actions__container.container
            .actions__row
              .section-title
                h1.section-title__text Акции
              

              //- Карточки акций
              .actions__grid.cards
                .cards__row
                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action1.jpg" alt="")
                    .card__text
                      h4.card__title Без мяса? Здесь!
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.
                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action2.jpg" alt="")
                    .card__text
                      h4.card__title Выгодное комбо c напитками
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.
                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action3.jpg" alt="")
                    .card__text
                      h4.card__title Сырный бортик
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.


                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action2.jpg" alt="")
                    .card__text
                      h4.card__title Выгодное комбо c напитками
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.
                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action3.jpg" alt="")
                    .card__text
                      h4.card__title Сырный бортик
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.
                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action1.jpg" alt="")
                    .card__text
                      h4.card__title Без мяса? Здесь!
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.


                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action3.jpg" alt="")
                    .card__text
                      h4.card__title Сырный бортик
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.
                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action1.jpg" alt="")
                    .card__text
                      h4.card__title Без мяса? Здесь!
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.
                  a.cards__card.card(href="#")
                    .card__image
                      img(src="./images/action2.jpg" alt="")
                    .card__text
                      h4.card__title Выгодное комбо c напитками
                      p.card__about.
                        Самое время попробовать «Сырную» пиццу, «Маргариту», 
                        пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный 
                        суп с гренками, Грибной Стартер, Рулетики с сыром, 
                        Картофель из печи, Картофельные оладьи или Греческий 
                        салат. Выберите свой вкус!
                      span.card__deadline до 31 июля.

        //- Контакты
        include includes/contacts

      //- Подвал
      include includes/footer