.attention
  .attention__container.container
    span.attention__close X
    .attention__row.row
      h3.attention__title Успех!
      p.attention__text <span class="username">Дмитрий</span>, мы вам перезвоним!
      button.attention__accept.get-btn Понятно