.attention
  .attention__container.container
    button(type="button").attention__close X
    .attention__row.row
      h3.attention__title Успех!
      p.attention__text <span class="username">Спасибо</span>, мы вам перезвоним!
      button(type="button").attention__accept.get-btn Понятно