header.header(class="wow animate__animated animate__bounceInDown")
    .header__container.container
      .header__row.row
        a(href="./index.html" aria-label="Ссылка на главную страницу").header__logo.logo
          img(src="./images/logo.svg" alt="logo" aria-hidden="true")
        nav.header__nav.nav
          ul.nav__list 
            li.nav__elem
              a(href="#specialization").nav__link О нас
            li.nav__elem
              a(href="#stages").nav__link Этапы
            li.nav__elem
              a(href="#reviews").nav__link Отзывы
            li.nav__elem
              a(href="#works").nav__link Наши работы
            li.nav__elem
              a(href="#answers").nav__link Вопрос ответ

        a(href="tel:78005554480" title="Заказать обратный звонок" tabindex="0").header__tel.tel
          span.tel__number +7 800 555 44 80
          span.tel__text Заказать обратный звонок
        .burger
          i.burger__line 
          i.burger__line 
          i.burger__line 