head
  //- Meta
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  
  title Volt Stream

  //- Icon
  link(rel="shortcut icon" href="./images/logo.svg")

  //- Panzoom
  link(rel="stylesheet" href="./css/panzoom.css")

  //- Fancybox
  link(rel="stylesheet" href="./css/fancybox.css")

  //- Animate.css
  link(rel="stylesheet" href="./css/animate.min.css")

  //- Styles
  link(rel="stylesheet" href="./css/style.min.css")

  //- Scripts
  script(defer src="./js/main.min.js")
  