$bg-color: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$green-color: linear-gradient(90deg,#618967, #72A479);
$grey-color: #504B4A;

$green-color-reverse: linear-gradient(90deg, #72A479, #618967);